body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  background-color:#111111;
}

header{    
  display: flex;
  align-items: center;
  height: 56px;
  padding-inline:40px;
      
  background-color: #4d4d4d;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

footer{
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}